@import "compass";
@import "compass/css3";
@import "utils";

$background: #fff;
$menu-color: #fff;
$first-slide: "../../static/img/first-slide.jpg";
$third-slide: "../../static/img/third-slide.jpg";
$honda-red: red;

html, body {
    height: 100%;
    width: 100%;
}


header {
	position: relative;
	.navbar-collapse.collapse {
		position: absolute;
	}
	.dropdown {
		a {
			color: $menu-color;
		}
		a:hover {
			background-color: transparent;
		}
	}
}

.first {
	@include screen-size;
	top: 0;
	background: url($first-slide) no-repeat scroll 100% 50% / cover transparent;
	.welcome {
		width: 45%;
		color: #fff;
		margin: 100px auto;
		text-align: center;
		img {
			cursor: pointer;
			width: 40%;
		}
	}

}

.third {
	top: 100%;
	@include screen-size;
	.item {
		.image img {
			width: 200px;
		}
		.text {
			width: 200px;
			height: 200px;
		}
	}

	.item.hor {
		.text, .image {
			float: left;
		}
		.image{
			img {
				vertical-align: baseline !important;
				min-width: 400px;
				height: 200px;
			}
		}
	}
	.text {
		min-width: 200px;
		min-height: 200px;
		text-align: center;
		position: relative;
		.content {
			position: absolute;
			bottom: 0;
			margin-left: 20%;
			margin-bottom: 20%;
			p {
				padding-top: 15px;
			}
			a {
				color: #000 !important;
				text-decoration: underline;	
			}
		}
	}
}

.honda-red {
	@include globe-box(red);
	background-color: $honda-red;
	color: #fff;
	a {
		color: #fff !important;
	}
}

.honda-asimo {
	@include globe-box(white);
}