@import "compass";
@import "compass/css3";

$background: #fff;
$first-slide: "../../static/img/first-slide.jpg";

.first {
	background-image: url($first-slide);
	background-size: cover;
	background-repeat: no;
}

header {
	position: relative;
	.navbar-collapse.collapse {
		position: absolute;
	}
}