@import "compass";
@import "compass/css3";
@import "utils";

$background: #fff;
$menu-color: #fff;
$first-slide: "../../static/img/first-slide.jpg";

.first {
	background-image: url($first-slide);
	background-size: cover;
	background-repeat: no;
}

header {
	position: relative;
	.navbar-collapse.collapse {
		position: absolute;
	}
	.dropdown {
		a {
			color: $menu-color;
		}
		a:hover {
			background-color: transparent;
		}
	}
}

.first {
	@include slide-size;
	.welcome {
		width: 45%;
		color: white;
		margin: 200px auto;
		text-align: center;
	}
}