.first {
  background-image: url("../../static/img/first-slide.jpg");
  background-size: cover;
  background-repeat: no;
}

header {
  position: relative;
}
header .navbar-collapse.collapse {
  position: absolute;
}
