.first {
  background: url("../../static/img/first-slide.jpg") no-repeat scroll 100% 50%/cover transparent;
}

header {
  position: relative;
}
header .navbar-collapse.collapse {
  position: absolute;
}
header .dropdown a {
  color: #fff;
}
header .dropdown a:hover {
  background-color: transparent;
}

.first {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.first .welcome {
  width: 45%;
  color: #fff;
  margin: 100px auto;
  text-align: center;
}
.first .welcome img {
  cursor: pointer;
  width: 40%;
}

.third .masonry-grid .grid-item {
  background-color: blue;
}
