html, body {
  height: 100%;
  width: 100%;
}

header {
  position: relative;
}
header .navbar-collapse.collapse {
  position: absolute;
}
header .dropdown a {
  color: #fff;
}
header .dropdown a:hover {
  background-color: transparent;
}

.first {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../../static/img/first-slide.jpg") no-repeat scroll 100% 50%/cover transparent;
}
.first .welcome {
  width: 45%;
  color: #fff;
  margin: 100px auto;
  text-align: center;
}
.first .welcome img {
  cursor: pointer;
  width: 40%;
}

.third {
  top: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.third .item .image img {
  width: 200px;
}
.third .item .text {
  width: 200px;
  height: 200px;
}
.third .item.hor .text, .third .item.hor .image {
  float: left;
}
.third .item.hor .image img {
  vertical-align: baseline !important;
  min-width: 400px;
  height: 200px;
}
.third .text {
  min-width: 200px;
  min-height: 200px;
  text-align: center;
  position: relative;
}
.third .text .content {
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translateY(-25%);
}
.third .text .content p {
  padding-top: 15px;
}
.third .text .content a {
  color: #000 !important;
  text-decoration: underline;
}

.honda-red {
  background-color: red;
  color: #fff;
}
.honda-red a {
  color: #fff !important;
}
